body {
	background-image: url("bck-img.jpg");
}
h1, form {
	text-align: center;
}
h1 {
	margin-top: 35px;
	color: #4b58b9;
}
img, button, input[type="submit"] {
	display: block;
	margin: 0 auto;
}
input[type="submit"] {
	margin-top: 15px;
}
.download-pls,
.choose-diagram,
.choose-download-diagram {
	font-family: Arial;
	font-size: 20px;
	color: #bf4a4a;
}
.choose-download-diagram {
	text-align: center;
	color: #ffd706;
}
.choose-diagram {
	margin-top: 30px;
}
.download-png-hidden,
#chartDiv-viewimage-close,
#upload-input {
	display: none;
}
.upload-btn,
.start,
.prev-diagram button {
	background-color: #f57022;
    border: none;
    outline: none;
    min-width: 125px;
    padding: 0px 20px;
    height: 30px;
    border-radius: 25px;
    color: #4a2222;
    font-family: inherit;
    font-size: 18px;
    margin-bottom: 15px;
    cursor: pointer;
    margin-top: 20px;
}
.progress {
	max-width: 450px;
	margin: auto;
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #bf4a4a;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.progress-bar {
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #4b58b9;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
input[type="radio"] {
    display:none;
}
label {
	cursor: pointer;
}
input[type="radio"] + label {
   	color: #ffd706;
    font-family: Arial;
    font-size: 14px;
    margin-right: 25px;
    font-size: 14px;
}
input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
}

input[type="radio"] + label span {
     background-color:#bf4a4a;
}

input[type="radio"]:checked + label span{
     background-color:#4b58b9;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.4s linear;
  -o-transition:background-color 0.4s linear;
  -moz-transition:background-color 0.4s linear;
  transition:background-color 0.4s linear;
}
.format-download,
.prev-diagram {
	text-align: center;
}
.format-download button {
	display: inline-block;
    border: none;
    outline: none;
    height: 50px;
    font-size: 16px;
    background-color: #bf4a4a;
    color: #001eff;
    cursor: pointer;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    min-width: 150px;
}
.download-png {
	margin: 0 20px;
}
.format-download .download-print {
	display: block;
    margin: auto;
    margin-top: 35px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    color: #ffd706;
    background-color: #4b58b9;
}
.prev-diagram button {
	display: inline-block;
}